html {
  box-sizing: border-box;
}

:root {
  --primary-bg: #00bafc;
  --color-white:#ffff
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* base styles */

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: var(--primary-bg);
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.smalltitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.smalltitle-white {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #ffffffff;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.subtitle-white{
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.text-white {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.content {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-8{
  margin-bottom: 8px;
}

.section {
  padding: 56px 0;
}

.btn {
  background: var(--primary-bg);
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}

.d-flex{
display: flex;
align-items: center;
gap: 8px;
}

.r-reverse{
  flex-direction: row-reverse;
}

.bg-blue{
background: var(--primary-bg);
}
